// border-radius
@mixin border-radius ($value)
	-webkit-border-radius: $value
	-moz-border-radius: $value
	border-radius: $value

// box-shadow
@mixin box-shadow ($value)
  -webkit-box-shadow: $value
  -moz-box-shadow: $value
  box-shadow: $value

// clearfix
@mixin clearfix
  &
    *zoom: 1
  &:before, &:after
    content: ""
    display: table
  &:after
    clear: both

