article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  background: white;
  color: black;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: yellow;
  color: black;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type='button'], input[type='reset'], input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.wrap {
  width: 960px;
  margin: 0 auto;
  background: #333333;
}

.row {
  *zoom: 1;
}
.row:before, .row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}

a.button, button.button, .button {
  padding: 0.3125em 1.125em;
  border: 0.0625em solid #dddddd;
  border-bottom-color: #b4b4b4;
  color: black;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#efefef));
  background-image: -webkit-linear-gradient(top, white, #efefef);
  background-image: -moz-linear-gradient(top, white, #efefef);
  background-image: -ms-linear-gradient(top, white, #efefef);
  background-image: -o-linear-gradient(top, white, #efefef);
  background-image: linear-gradient(top, #ffffff, #efefef);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='white', endColorStr='#efefef');
  font-size: 1em;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}
a.button:hover, button.button:hover, .button:hover {
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#dbdbdb));
  background-image: -webkit-linear-gradient(top, #fafafa, #dbdbdb);
  background-image: -moz-linear-gradient(top, #fafafa, #dbdbdb);
  background-image: -ms-linear-gradient(top, #fafafa, #dbdbdb);
  background-image: -o-linear-gradient(top, #fafafa, #dbdbdb);
  background-image: linear-gradient(top, #fafafa, #dbdbdb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', endColorStr='#dbdbdb');
}

.button.rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.button.xsmall {
  font-size: 0.75em;
}
.button.small {
  font-size: 0.875em;
}
.button.medium {
  font-size: 1.25em;
}
.button.large {
  font-size: 1.5em;
}
.button.xlarge {
  font-size: 1.75em;
}
.button.green {
  border-color: #6ba849;
  border-bottom-color: #548d40;
  color: white;
  background-color: #72b75c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#72b75c), to(#73af55));
  background-image: -webkit-linear-gradient(top, #72b75c, #73af55);
  background-image: -moz-linear-gradient(top, #72b75c, #73af55);
  background-image: -ms-linear-gradient(top, #72b75c, #73af55);
  background-image: -o-linear-gradient(top, #72b75c, #73af55);
  background-image: linear-gradient(top, #72b75c, #73af55);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#72b75c', endColorStr='#73af55');
}
.button.green:hover {
  background-color: #6cb455;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6cb455), to(#609546));
  background-image: -webkit-linear-gradient(top, #6cb455, #609546);
  background-image: -moz-linear-gradient(top, #6cb455, #609546);
  background-image: -ms-linear-gradient(top, #6cb455, #609546);
  background-image: -o-linear-gradient(top, #6cb455, #609546);
  background-image: linear-gradient(top, #6cb455, #609546);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6cb455', endColorStr='#609546');
}
.button.pill {
  -webkit-border-radius: 1.125em;
  -moz-border-radius: 1.125em;
  -ms-border-radius: 1.125em;
  -o-border-radius: 1.125em;
  border-radius: 1.125em;
}
.button.pill-left {
  -webkit-border-radius: 1.125em 0 0 1.125em;
  -moz-border-radius: 1.125em 0 0 1.125em;
  -ms-border-radius: 1.125em 0 0 1.125em;
  -o-border-radius: 1.125em 0 0 1.125em;
  border-radius: 1.125em 0 0 1.125em;
}
.button.pill-right {
  -webkit-border-radius: 0 1.125em 1.125em 0;
  -moz-border-radius: 0 1.125em 1.125em 0;
  -ms-border-radius: 0 1.125em 1.125em 0;
  -o-border-radius: 0 1.125em 1.125em 0;
  border-radius: 0 1.125em 1.125em 0;
}
